[Desktop Entry]
Name=Simple Password Manager
Comment=A simple and secure password manager
Exec=simple-password-manager %u
Icon=simple-password-manager
Terminal=false
Type=Application
Categories=Utility;Security;
MimeType=application/x-keepass;
StartupWMClass=simple-password-manager
